/** @format */

#services {
	padding-top: 250px;
	padding-bottom: 200px;
}
.text-center {
	text-align: center !important;
}

h2.section-heading {
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 15px;
}
.text-uppercase {
	text-transform: uppercase !important;
}
.text-muted {
	color: #868e96 !important;
}

.paragram {
	font-size: 18px;
}

h3.section-subheading {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 75px;
	text-transform: none;
	font-family: Droid Serif, Helvetica Neue, Helvetica, Arial, sans-serif;
}
