/** @format */

/* .masthead {
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 50%;
	background-size: cover;
}

.masthead .intro-text {
	padding-top: 550px;
	padding-bottom: 200px;
}

.masthead .intro-text .intro-lead-in {
	font-size: 40px;
	font-style: italic;
	line-height: 40px;
	margin-bottom: 25px;
	font-family: Droid Serif, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.masthead .intro-text .intro-heading {
	font-size: 75px;
	font-weight: 700;
	line-height: 75px;
	margin-bottom: 50px;
	font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.masthead .carousel .carousel-inner .carousel-item img{
	width: 600px;
	height: 600px;
	object-fit: cover;
} */
.contenido-home{
	position: relative;
	
}
