
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
 
*{
  margin: 0;
  padding: 0;
}
 
body{
  font-family: 'Open Sans', sans-serif;
}
 
.nav-bar{
  width: 100%;
  height: 75px;
  background: #2c3e50;
  /*padding: 10px 0;*/
  padding-top: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #1a252f;
}
 
.nav-bar ul{
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
}

.MuiSvgIcon-root{
	margin-right: 5px;
}
.nav-bar ul li{
  margin-right: 10px;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  /* border-radius: 10px; */
  transition: all 0.4s ease;
}
 
.nav-bar ul li:last-child{
  margin-right: 0;
}
 
.nav-bar ul li:hover{
  color: #18bc9c;
  display: block;
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
}
 
.nav-bar ul li:hover .mega-menu{
  color: #fff;
}

.nav-bar ul li .mega-menu p{
  font-weight: 100 !important;
  font-size: 12;
  
}
.nav-bar ul li .mega-menu p:hover{
   color: #18bc9c;
}
 


 /*------------*/
.mega-menu{
  position: absolute;
  top: 65px;
  z-index: 99999;
  /* left: 100px; */
  /* right: 0; */
  width: auto;
  height: auto;
  background: #2c3e50;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 20px;
}
 
.nav-bar ul li:hover .mega-menu{
  opacity: 1;
  visibility: visible;
}
 
.inner-mega-menu{
  width: 32%;
  float: left;
  margin-right: 1%;
}
 
.inner-mega-menu p{
  padding: 5px 0;
  transition: all 0.4s ease;
  display: block;
}
 
.inner-mega-menu:last-child{ 
  margin-right: 0%;
}
/**/
.mega-menu .inner-mega-menu p{
	text-align: left;
}

/* icono de usuario */
.icono-user{
	position: absolute;
	right: 15px;
}

.icono-user .MuiSvgIcon-root{
	color: #fff;
}

.icono-user .MuiSvgIcon-root:hover{
	/* background-color: red; */
}