/** @format */

.info-text {
  font-size: 13px;
  margin: 0 1px 5px 0;
  text-align: right;
  letter-spacing: 1px;
}

.info-text strong {
  color: #006489;
}


.logo-menu{
  position: absolute;
  left: 7em;
  bottom: .2em;
}
.menu-toogable i {
  font-size: 1.8em;
  padding-right: 1em;
  display: block;
  color:#fff !important;
  position: absolute;
  left: 28px;
}

.IconoX{
  
  display: block;
  color: #000;
}
.IconoX:hover{
  color: #18bc9c;
}
 .IconoX:hover{
    cursor: pointer;
    animation: girar 3s infinite;
}
@keyframes girar {
  from { transform: rotate(0deg); }
  50% { transform: rotate(180deg) }
  to { transform: rotate(360deg); }
}


.menu-toogable i:hover {
  -webkit-animation: latido;
  animation: latido .5s infinite;
  cursor: pointer;
}

@keyframes latido {
	from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}




.top-lista{
  background-color: #fff;
}
/* Fondo a la Lista */
.MuiPaper-root{
  background-color: #2C3E50 !important;

}
.MuiListItem-button:hover{
  background-color: #18bc9c !important;
}

  /* color a la lista */
  .item-enlaces .link_item{
    color: #ffffff;
  }
  .item-enlaces .link_item .link_icono ,   .link_item .link_text{
    color: #ffffff !important;
  }

  .item-enlaces{
    text-decoration: none !important;
    color: #ffffff;
  }

/* menu */
