/** @format */

.info-text {
  font-size: 13px;
  margin: 0 1px 5px 0;
  text-align: right;
  letter-spacing: 1px;
}

.info-text strong {
  color: #006489;
}

nav .container #navbarResponsive li:hover > a {
  padding-bottom: 0.5em !important;
  color: blue !important;
  border-bottom-color: blue !important;
  border-bottom-style: groove !important;
}

.dropdown-content {
  display: none;
  top: 110%;
  right: -150%;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: -1;
}

.menu-toogable i {
  font-size: 1.8em;
  padding-right: 1em;
  display: block;
}

.IconoX{
  
  display: block;
}
 .IconoX:hover{
    cursor: pointer;
    animation: girar 3s infinite;
}
@keyframes girar {
  from { transform: rotate(0deg); }
  50% { transform: rotate(180deg) }
  to { transform: rotate(360deg); }
}


.menu-toogable i:hover {
  -webkit-animation: latido;
  animation: latido .5s infinite;
  cursor: pointer;
}

@keyframes latido {
	from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}
