
html,body{
	overflow-x: hidden;
}
.footer-top {
  background-color: #F0F0F0;
  font-size: 30px;
	display: flex;
	align-items: center;
  font-weight: 600;
  margin: auto;
  height: 120px;
  border-bottom: 1px solid #000;
  /* padding: 90px 0; */
  
}
.footer .footer-top .footer-title {
  color: #002 !important;
  align-items: center;
  font-weight: bold;
  font-size: 35px;
}
.footer .footer-top .correo-enlace a{
	text-decoration: none;
	display: inline block;
	padding:15px;
} 
.footer .footer-top .correo-enlace:hover{
	cursor: pointer !important;
}
 .footer-contact {
  color: white;
  background-color: #353A69;
  font-size: 20px;
  width: 100px;
  max-width: 20%;
  margin: auto;
  transition: all 0.2s ease-in-out;
}
 .footer-contact .MuiSvgIcon-root {
  font-size: 20px;
}
 .footer-contact:hover {
  color: #353A69;
  background-color: white;
  border: 1.5px solid #353A69;
  cursor: pointer;
  -webkit-box-shadow: 1px -1px 12px -1px #000000;
  box-shadow: 1px -1px 12px -1px #000000;
}
@media (max-width:576px){
	.footer .footer-top .footer-title {
		font-size: 20px;
	}
	.footer .footer-top .correo-enlace{
		margin-bottom: 15px;
	}

}
@media (max-width:768px){
	.footer-top .footer-contact {
		max-width: 40%;
		margin:auto;
	}
	.footer .footer-top .correo-enlace{
		margin-bottom: 25px;
	}
}

/*  */
/*  */
.footer-botton .logo-ink img{
	width: 150px;
	height: 100px;
}

.footer-botton .suscribete{
	font-size:15px;
	font-weight: 550;
}
.footer-botton .suscribete .email{
	padding:13px 18px;
	width: 280px;
	border:2px solid #000;
}

.footer-botton .suscribete  input:focus, input.form-control:focus{
	outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.footer-botton .suscribete .footer-contact{
	margin: auto;
	max-width: 10%;
	height: 52px;
	margin-top:-5px
}
.footer-botton .suscribete .footer-contact .MuiSvgIcon-root{
	margin-top:5px;
	font-size:35px ;
}

/*  */
/*  */

.menu-footer ul{
	display: flex;
	flex-wrap: wrap;
	font-weight: 550;
	justify-content: space-around;
}
.menu-footer ul li{
	color: black;
	font-size: 14px;
	transition: color border .2s ease-in-out ;
	margin-left: 13px;
	border-bottom: 2px solid white;
}
.menu-footer ul li:hover {
	color:#353A69;
	border-bottom: 2px solid #353A69;
	cursor: pointer;
	

}

.menu-footer .iconosF{
	display: flex;
	flex-direction: row;
}
.iconos-footer .MuiSvgIcon-root{
	font-size: 25px;
	background-color: black;
	color: white;
	border-radius: 50%;
	height: 35px;
	width:35px;
	padding:5px;
	transition:all .1s ease-in-out ;
}
.iconos-footer .MuiSvgIcon-root:hover{
	background-color: #353A69;
	cursor: pointer;
	margin-top: -4px;
	-webkit-box-shadow: 1px -1px 12px -1px #353A69;
	box-shadow: 1px -1px 12px -1px #353A69;
}

.menu-footer div:nth-child(1) {
	margin-bottom: 30px;
}


@media (max-width:991px){
	.iconos-footer .MuiSvgIcon-root:hover{
		margin-top:none;
	}
}

@media (max-width:576px){
	.menu-footer div:nth-child(1) {
		margin-bottom: 25px;
	}
	.iconos-footer .MuiSvgIcon-root:hover{
		margin-top:none;
	}
}

.footer .footer-end{
	color: rgba(85, 78, 78, 0.897);
	font-size: 14px;
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.footer .footer-end p span{
	font-weight: 700;
}

@media (max-width:768px){
	.footer .footer-end{
		display: block !important;
	}
}

/* footer subir */

.cm-up {
	/* display: none; */
	position: fixed;
	background: transparent;
	height: 50px;
	border-radius: 50px;
	padding: 10px;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 9999999;
	margin: 15px;
}

.cm-up .cm-text-up {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	float: left;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	transition: 0.4s;
	width: 0px;
}

.cm-up .cm-icon {
	background: #001e34;
	color: #00b2ff;
	font-size: 20px;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s
}
.cm-up:hover{
	background-color: #001e34;
}
.cm-up:hover > .cm-text-up {
	width: 150px;
	padding: 0 6px;
}
.cm-up:hover > .cm-icon {
	background: #fff;
}