/** @format */

.in-company .banner {
	height: 100%;
	width: 100%;
	object-fit: cover;
	clip-path: polygon(100% 0, 100% 71%, 73% 52%, 0 99%, 0 0);
}
.in-company .banner img {
	width: 100%;
}

.in-company .titulo-in {
	position: absolute;
	z-index: 999;
	top: 60%;
	right: 10%;
	color: #000;
	width: 40%;
	text-align: right;
	font-size: 30px;
}
.in-company .titulo-in span {
	font-weight: bold;
	font-size: 35px;
}
.in-company .contenido-padre {
	width: 50%;

	margin: auto;
}
.in-company .contenido-descr {
	line-height: 22px;
	font-size: 20px;
}
@media screen and (max-width: 851px) {
	.in-company .banner {
		clip-path: none;
	}
	.in-company .titulo-in {
		position: absolute;
		top: 30%;
		right: 5%;
		padding: 15px;
		background-color: #fff;
		font-size: 25px;
	}

	.in-company .contenido-descr {
		line-height: 20px;
		font-size: 17px;
	}
	.in-company .titulo-in span {
		font-size: 30px;
	}
	.in-company .contenido-padre {
		width: 70%;
	}
}
@media screen and (max-width: 576px) {
	.in-company .titulo-in {
		position: relative;
		text-align: center;
		margin-top: -10px;
		font-size: 10px !important;
	}
	.in-company .titulo-in h1 {
		font-size: 15px;
	}
	.in-company .contenido-padre {
		width: 90%;
	}
	.in-company .contenido-descr {
		line-height: 18px;
		font-size: 14px;
	}

	.in-company .titulo-in span {
		font-size: 20px;
	}
	.in-company .mostrarLinea {
		display: block !important;
	}
}

.in-company .objetivos {
	background-color: #001e34;
}

.in-company .objetivos .container h2 {
	display: inline-block;
	background-color: #fff;
	position: relative;
	top: 10px;
	font-size: 30px;
	padding: 10px 20px;
}
.in-company .objetivos .container p {
	color: #fff;
	font-size: 20px;
	padding: 50px;
}
@media screen and (max-width: 851px) {
	.in-company .objetivos .container h2 {
		font-size: 25px;
	}
	.in-company .objetivos .container p {
		font-size: 17px;
	}
}
@media screen and (max-width: 576px) {
	.in-company .objetivos .container h2 {
		font-size: 20px;
	}
	.in-company .objetivos .container p {
		font-size: 14px;
		padding: 30px;
	}
}
